body * {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  font-size: 30px;
  word-wrap: normal;
}
.container{
  position: relative;
  height: 530px;
}
button {
  cursor: pointer;
}
img {
  cursor: pointer;
}
#signUp {
  width: 50px;
}
#signUp:hover {
  background: white;
  border-radius: 5px;
}
#container-main {
  height: 494px;
}
#entryLogin input {
  text-align: center;
  margin: 5px 0;
  padding: 4px;
}
#nav .hide{
  visibility: hidden;
}
#entrySubmit {
  transform: rotate(180deg);
  margin: 6px 0;
}
#entrySubmit:hover {
  transform: rotate(270deg);
  background-color: white;
  border-radius: 30px;
  /* 45deg or 270deg */
}
.box-login {
  margin: 60px;
  margin-top: 25px;
  padding: 10px;
  text-align: center;
  display: block;
  background: -moz-linear-gradient(left, rgba(38,172,192,0) 0%, rgba(38,172,192,0.8) 15%, rgba(38,172,192,1) 19%, rgba(38,172,192,1) 20%, rgba(72,214,222,1) 50%, rgba(38,172,192,1) 80%, rgba(38,172,192,1) 81%, rgba(38,172,192,0.8) 85%, rgba(38,172,192,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(38,172,192,0) 0%,rgba(38,172,192,0.8) 15%,rgba(38,172,192,1) 19%,rgba(38,172,192,1) 20%,rgba(72,214,222,1) 50%,rgba(38,172,192,1) 80%,rgba(38,172,192,1) 81%,rgba(38,172,192,0.8) 85%,rgba(38,172,192,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(38,172,192,0) 0%,rgba(38,172,192,0.8) 15%,rgba(38,172,192,1) 19%,rgba(38,172,192,1) 20%,rgba(72,214,222,1) 50%,rgba(38,172,192,1) 80%,rgba(38,172,192,1) 81%,rgba(38,172,192,0.8) 85%,rgba(38,172,192,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0026acc0', endColorstr='#0026acc0',GradientType=1 ); /* IE6-9 */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#reportButton {
  width: 47px;
  position: absolute;
  left: 32px;
  bottom: 27px;
}
#reportButton:hover {
  border: 2px solid skyblue;
  border-radius: 10px;
}
footer {
  position: absolute;
  bottom: 0;
}
#nav {
  cursor: pointer;
  margin: 0 100px;
  height: 34px;
  text-align: center;
}
.navBox {
  display: inline-block;
  margin-right: -4px;
  padding: 5px 6px;
}
.navBox:hover {
  text-decoration: underline;
}
h3{
  text-align: center;
}
#postCreation{
  position: absolute;
  left: 20px;
  width: 50px;
  height: auto;
  text-align: center;
  text-decoration: none;
  margin-top: 5px;
  padding: 2px;
  border-radius: 5px;
}
#postCreation:hover{
  border: 2px solid skyblue;
  border-radius: 10px;
}
#editCreation{
  /* background-color: gold;
  border: solid 2px gray;
  color: black;
  text-align: center;
  text-decoration: none;
  margin-top: 5px;
  padding: 2px;
  border-radius: 5px; */
}
#answer{
  margin: 5px;
}
#postbox {
  width: 380px;
  height: 250px;
  background:  white;
  border: solid lightblue;
  position: absolute;
  left: 50%;
  margin-left: -206px;
  top: 50%;
  margin-top: -133px;
  z-index: 2;
  padding: 10px;
  display: none;
  border-radius: 10px;
}
#buttonSign {
  position: absolute;
  left: 10px;
  top: 100px;
}
.editPost{
  display: inline-block;
  border-radius: 4px;
  background-color: #0099ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 7px;
  width: 108px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.editPost span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.editPost span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.editPost:hover{
  background-color: #ff6699;
}
.editPost:hover span{
  padding-right: 12px;
}
.editPost:hover span:after{
  opacity: 1;
  right: 0;
}
.deletebutton{
  display: inline-block;
  border-radius: 4px;
  /* ff3300 */
  background-color: #0099ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 7px;
  width: 122px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.deletebutton span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.deletebutton span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.deletebutton:hover {
  background-color: #ff3300;
}
.deletebutton:hover span{
  padding-right: 12px;
}
.deletebutton:hover span:after{
  opacity: 1;
  right: 0;
}
.heartButton{
  display: inline-block;
  border-radius: 4px;
  background-color: #0099ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 7px;
  width: 116px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.heartButton span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.heartButton span:after{
  content: '\2665';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}
.heartButton:hover{
  background-color: #ff6699;
}
.heartButton:hover span{
  padding-right: 12px;
}
.heartButton:hover span:after{
  opacity: 1;
  right: 0;
}
#submitreport{
  display: inline-block;
  border-radius: 4px;
  background-color: #0099ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 7px;
  width: 165px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#submitreport span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#submitreport span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#submitreport:hover {
  background-color: #33cc33;
}
#submitreport:hover span{
  padding-right: 12px;
}
#submitreport:hover span:after{
  opacity: 1;
  right: 0;
}
.goBack{
  border-radius: 4px;
  background-color: #0099ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 7px;
  width: 118px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#postSubmit{
  border-radius: 4px;
  background-color: #0099ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 7px;
  width: 118px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.clearOutButton{
  border-radius: 4px;
  background-color: #0099ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 7px;
  width: 118px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#createdProfile{
  border-radius: 4px;
  background-color: #0099ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 7px;
  width: 138px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#postEditBox{
  width: 370px;
  height: 235px;
  background: white;
  border: solid pink;
  position: absolute;
  left: 50.5%;
  margin-left: -206px;
  top: 51.5%;
  margin-top: -133px;
  z-index: 2;
  padding: 10px;
  border-radius: 10px;
  display: none;
}
#postDesign {
  padding: 10px;
}
.postInfo {
  margin: 0 0 5px 5px;
  padding: 5px;
}
.reportbox {
  width: 300px;
  height: 20px;
  margin: 5px 0;
  text-align: center;
}
.reporttext {
  width: 600px;
  height: 300px;
  resize: none;
  margin: 5px 0;
}
#suggestionForm{
  text-align: center;
}
#suggestionEmail{
  padding: 8px;
}
#suggestionButton{
  border-radius: 4px;
  background-color: #0099ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 7px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#suggestiontext {
  width: 500px;
  height: 200px;
  text-align: center;
  resize: none;
  margin: 5px 0;
}
#profileContainer {
  margin-top: 20px;
  margin-left: 40%;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
}
.profiletext {
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
}
#secondaryContainer {
  border: solid white 1px;
  margin-top: 5px;
  padding: 10px;
  margin: -15px 100px;
  height: 471px;
  overflow-y: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: lightgrey;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: skyblue;
  border-radius: 20px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#usersPosts {
  display: grid;
  text-align: center;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}
.eachPost {
  list-style-type: none;
  border: solid skyblue 2px;
  margin: 5px 0;
  padding: 8px;
  background-color: white;
  border-radius: 10px;
}
ul.f {
  list-style-position: inside;
  /* border: 2px solid blue; */
  margin-left: 20px;
}
ul li.s {
  padding-left: 25px;
}
#dropMenu {
  width: 60px;
  position: absolute;
  top: 172px;
  left: 13px;
  visibility: hidden;
}
@media only screen and (max-width:1326px ){
#container-main {
  height: 476px;
}
#secondaryContainer {
  height: 450px;
}
}
@media only screen and (max-width:960px ){
#container-main {
  height: 475px;
}
#secondaryContainer {
  height: 450px;
}
}
@media only screen and (max-width:792px ){
#container-main {
  height: 486px;
}
#usersPosts {
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
}
#title {
  font-size: 25px;
}
#buttonSign{
  top: 108px;
}
}
@media only screen and (max-width:600px ){
#title {
  font-size: 20px;
}
#container-main{
  margin: auto 5px;
  position: absolute;
  top: 5px;
  height: 523px;
}
#secondaryContainer{
  margin-top: 30px;
  height: 474px;
  margin-right: 30px;
}
#nav {
  visibility: hidden;
}
#postbox{
  width: 290px;
  margin-top: -127px;
  margin-left: -128px;
}
#postEditBox {
  width: 290px;
  margin-top: -65px;
  margin-left: -164px;
  }
#postCreation {
    z-index: 2;
}
#dropMenu {
  visibility: visible;
  display: inline-block;
  top: 136px;
  left: 13px;
  z-index: 1;
  border-radius: 10px;
}
#dropMenu:hover {
  border: 2px solid skyblue;
}
#menuDesignation .hide{
  position: relative;
  display: inline-block;
}
#navRes {
  display: none;
  position: absolute;
  top: 169px;
  left: 66px;
  background-color: #f9f9f9;
  min-width: 45px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
#menuDesignation:hover #navRes {
  display: block;
  border: 1px solid black;
}
.navBoxRes {
  list-style: none;
  border-bottom: 1px solid black;
  margin: 5px;
}
.navBoxRes:hover{
  background-color: pink;
  border-radius: 5px;
}
}
@media only screen and (max-width:320px ){
h1 {
  margin-right: -58px;
}
h3{
  font-size: small;
}
#postEditBox{
  margin-left: 10px;
}
#pageExplanation{
  margin-left: 50px;
}
}
