body * {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}
h1 {
  text-align: center;
  font-size: 30px;
  word-wrap: normal;
}
#pageExplanation {
  text-align: center;
}
.container {
  position: relative;
  height: 530px;
}
button {
  cursor: pointer;
}
img {
  cursor: pointer;
}
#logOut {
  position: absolute;
  display: inline;
  border-radius: 4px;
  background-color: #0099ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 7px;
  width: 74px;
  margin: 5px 0px 5px 14px;
}
#status {
  margin-left: 15px;
  width: 72px;
}
#signUp {
  width: 50px;
}
#signUp:hover {
  background: white;
  border-radius: 5px;
}
#container-main {
  height: 494px;
}
#entryLogin input {
  text-align: center;
  margin: 5px 0;
  padding: 4px;
}
#nav .hide {
  visibility: hidden;
}
#entrySubmit {
  transform: rotate(180deg);
  margin: 6px 0;
}
#entrySubmit:hover {
  transform: rotate(270deg);
  background-color: white;
  border-radius: 30px;
}
.box-login {
  margin: 20px;
  margin-top: 0px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  display: block;
  background: -moz-linear-gradient(left, rgba(38,172,192,0) 0%, rgba(38,172,192,0.8) 15%, rgba(38,172,192,1) 19%, rgba(38,172,192,1) 20%, rgba(72,214,222,1) 50%, rgba(38,172,192,1) 80%, rgba(38,172,192,1) 81%, rgba(38,172,192,0.8) 85%, rgba(38,172,192,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(38,172,192,0) 0%,rgba(38,172,192,0.8) 15%,rgba(38,172,192,1) 19%,rgba(38,172,192,1) 20%,rgba(72,214,222,1) 50%,rgba(38,172,192,1) 80%,rgba(38,172,192,1) 81%,rgba(38,172,192,0.8) 85%,rgba(38,172,192,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(38,172,192,0) 0%,rgba(38,172,192,0.8) 15%,rgba(38,172,192,1) 19%,rgba(38,172,192,1) 20%,rgba(72,214,222,1) 50%,rgba(38,172,192,1) 80%,rgba(38,172,192,1) 81%,rgba(38,172,192,0.8) 85%,rgba(38,172,192,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0026acc0', endColorstr='#0026acc0',GradientType=1 ); /* IE6-9 */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#register {
  margin-top: -475px;
}
footer {
  position: absolute;
  bottom: 0;
}
#nav {
  cursor: pointer;
  margin: 5px 100px;
  height: 34px;
  text-align: center;
}
.navBox {
  display: inline-block;
  margin-right: -4px;
  padding: 5px 6px;
}
.navBox:hover {
  text-decoration: underline;
  border: 1px solid skyblue;
  border-radius: 5px;
}
h3 {
  text-align: center;
}
#postCreation {
  position: absolute;
  top: 115px;
  left: 13px;
  width: 50px;
  height: auto;
  text-align: center;
  text-decoration: none;
  padding: 2px;
  border-radius: 5px;
}
#postCreation:hover {
  border: 2px solid skyblue;
  border-radius: 10px;
}
#answer {
  margin: 5px;
}
#postbox {
  width: 380px;
  height: auto;
  background:  white;
  border: solid lightblue;
  position: absolute;
  left: 50%;
  margin-left: -206px;
  top: 50%;
  margin-top: -133px;
  z-index: 2;
  padding: 10px;
  display: none;
  border-radius: 10px;
  box-shadow: 0 0 0 100em rgba(0,0,0,0.7)
}
.close {
  position: absolute;
  right: 20px;
  top: 12px;
  width: 23px;
  height: 21px;
  border: none;
  background: lightblue;
}
.closeEdit {
  position: absolute;
  right: 20px;
  top: 12px;
  width: 23px;
  height: 21px;
  border: none;
  background: #ff6699;
}
.far {
  font-size: 23px;
}
#buttonSign {
  position: absolute;
  left: 10px;
  top: 100px;
}
.editPost {
  display: inline-block;
  border-radius: 4px;
  background-color: #0099ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 7px;
  width: 108px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.editPost span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.editPost span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.editPost:hover {
  background-color: #ff6699;
}
.editPost:hover span {
  padding-right: 12px;
}
.editPost:hover span:after {
  opacity: 1;
  right: 0;
}
.deletebutton {
  display: inline-block;
  border-radius: 4px;
  background-color: #0099ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 7px;
  width: 122px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.deletebutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.deletebutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.deletebutton:hover {
  background-color: #ff3300;
}
.deletebutton:hover span {
  padding-right: 12px;
}
.deletebutton:hover span:after {
  opacity: 1;
  right: 0;
}
.heartButton {
  display: inline-block;
  border-radius: 4px;
  background-color: #0099ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 3px;
  width: 70px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-size: 25px;
}
.heartButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.heartButton:hover {
  background-color: #ff6699;
}
.heartButton:hover span:after {
  opacity: 1;
  right: 0;
}
#submitreport {
  display: inline-block;
  border-radius: 4px;
  background-color: #0099ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 7px;
  width: 165px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#submitreport span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#submitreport span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
#submitreport:hover {
  background-color: #33cc33;
}
#submitreport:hover span {
  padding-right: 12px;
}
#submitreport:hover span:after {
  opacity: 1;
  right: 0;
}
.goBack {
  border-radius: 4px;
  background-color: #0099ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 7px;
  width: 118px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#postSubmit {
  border-radius: 4px;
  background-color: #0099ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 7px;
  width: 118px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.clearOutButton {
  border-radius: 4px;
  background-color: #0099ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 7px;
  width: 118px;
  cursor: pointer;
  margin: 5px;
}
.clearEdits {
  border-radius: 4px;
  background-color: #ff6699;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 7px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#editSubmit {
  border-radius: 4px;
  background-color: #ff6699;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 7px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#createdProfile {
  border-radius: 4px;
  background-color: #0099ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 7px;
  width: 138px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#postEditBox {
  width: 370px;
  height: auto;
  background: white;
  border: solid pink;
  position: absolute;
  left: 50.5%;
  margin-left: -206px;
  top: 51.5%;
  margin-top: -133px;
  z-index: 2;
  padding: 10px;
  border-radius: 10px;
  display: none;
  box-shadow: 0 0 0 100em rgba(0,0,0,0.7)
}
#postDesign {
  padding: 10px;
}
.postInfo {
  margin: 0 0 5px 5px;
  padding: 5px;
}
.reportbox {
  width: 300px;
  height: 20px;
  margin: 5px 0;
  text-align: center;
}
.reporttext {
  width: 100%;
  height: 280px;
  resize: none;
  margin: 5px 0;
  text-align: center;
}
#submitIssue {
  text-align: center;
}
#profileContainer {
  margin-left: 38%;
  padding: 10px;
  margin-top: 12px;
  display: inline-block;
  border-radius: 10px;
  transition: ease all .5s;
}
.profiletext {
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
}
#secondaryContainer {
  margin-top: 5px;
  padding: 10px;
  margin: -50px 100px;
  height: 94%;
  overflow: auto;
}
#secondaryContainer::-webkit-scrollbar {
  width: 0 !important
}
#usersPosts {
  display: grid;
  text-align: center;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}
.eachPost {
  list-style-type: none;
  border: solid skyblue 2px;
  margin: 5px 0;
  padding: 8px;
  background-color: white;
  border-radius: 10px;
}
ul.f {
  list-style-position: inside;
  margin-left: 20px;
}
ul li.s {
  padding-left: 25px;
}
#dropMenu {
  width: 60px;
  position: absolute;
  top: 172px;
  left: 13px;
  visibility: hidden;
}
@media only screen and (max-width: 1600px){
  #profileContainer {
    margin-left: 36%;
  }
}
@media only screen and (max-width:1326px ){
  #container-main {
    height: 476px;
  }
  #profileContainer {
    margin-left: 33%;
  }
}
@media only screen and (max-width:1024px){
  #profileContainer {
    margin-left: 29%;
  }
  }
  @media only screen and (max-width:960px ){
  #container-main {
    height: 475px;
  }
  #profileContainer {
    margin-left: 25%;
  }
}
@media only screen and (max-width:817px){
  #profileContainer {
    margin-left: 22%;
  }
}
@media only screen and (max-width:792px ){
  #container-main {
    height: 486px;
  }
  #usersPosts {
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
  }
  #title {
    font-size: 25px;
  }
  #buttonSign {
    top: 108px;
  }
  #profileContainer {
    margin-left: 27%;
  }
}
@media only screen and (max-width:788px){
  #profileContainer {
    margin-left: 21%;
  }
}
@media only screen and (max-width:768px){
  #profileContainer {
    margin-left: 21%;
  }
  .box-login {
    margin-top: -8px;
  }
  #secondaryContainer {
    height: 155%;
  }
}
@media only screen and (max-width:684px){
  #postCreation {
    margin-left: auto;
      left: 38%;
      top: 17px;
      z-index: 2;
  }
  #dropMenu {
    visibility: visible;
    display: inline-block;
    top: 10px;
    margin-left: 50%;
    margin-right: 50%;
    z-index: 1;
    border-radius: 10px;
  }
  #dropMenu:hover {
    border: 2px solid skyblue;
  }
  #menuDesignation .hide {
    position: relative;
    display: inline-block;
  }
  #navRes {
    display: none;
    position: absolute;
    top: 71px;
    margin-left: 54.3%;
    margin-right: 19%;
    font-size: 15px;
    background-color: #f9f9f9;
    min-width: 45px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  #menuDesignation:hover #navRes {
    display: block;
    border: 1px solid black;
  }
  .navBoxRes {
    list-style: none;
    border-bottom: 1px solid black;
    margin: 5px;
  }
  .navBoxRes:hover {
    background-color: pink;
    border-radius: 5px;
  }
  #nav {
    visibility: hidden;
  }
  #status {
    margin-left: 15px;
    margin-top: -30px;
    width: 72px;
    font-size: smaller;
}
  #logOut {
    font-size: small;
    width: 62px;
  }
  #secondaryContainer {
    margin: 20px 100px;
  }
}
@media only screen and (max-width:671px){
  #profileContainer {
    margin-left: 14%;
  }
}
@media only screen and (max-width:600px ){
  #title {
    font-size: 20px;
  }
  #container-main {
    margin: auto 12%;
    position: absolute;
    top: 50px;
    height: 523px;
  }
  #register {
    margin-top: 0%;
  }
  #secondaryContainer {
    margin-top: 45px;
    height: 90%;
    margin-left: 30px;
    margin-right: 10px;
  }
  #postbox {
    width: 290px;
    margin-top: -127px;
    margin-left: -128px;
  }
  #postEditBox {
    width: 290px;
    margin-top: -180px;
    margin-left: -152px;
  }
  #profileContainer {
    margin-top: 10px;
    margin-left: 13%;
  }
  #pageExplanation {
    font-size: small;
  }
  .reporttext {
    width: 301px;
    height: 205px;
  }
}
@media only screen and (max-width:540px){
  #profileContainer {
    margin-left: 8%;
  }
}
@media only screen and (max-width:445px){
  #container-main {
    margin: auto 25px;
  }
  #postCreation {
    left: 34%;
  }
  #profileContainer {
    font-size: small;
    margin-left: 9%;
    width: 310px;
  }
}
@media only screen and (max-width:414px){
  #profileContainer {
    margin-left: 8%;
  }
  #register {
    margin-top: 0%;
  }
  #postbox {
    margin-left: -156px;
  }
  h2 {
    font-size: medium;
  }
  #secondaryContainer {
    margin-left: 25px;
  }
}
@media only screen and (max-width:411px){
  #profileContainer {
    margin-left: 8%;
  }
  .box-login {
    margin-top: -35px;
  }
  #postbox {
    margin-left: -160px;
  }
  h2 {
    font-size: medium;
  }
}
@media only screen and (max-width:375px){
  #profileContainer {
    margin-left: 4%;
  }
  #pageExplanation {
    margin-right: 0%;
  }
}
@media only screen and (max-width:360px){
  #profileContainer {
    margin-left: 2%;
  }
  .box-login {
    margin-top: -35px;
  }
  #postbox {
    margin-left: -158px;
    font-size: small;
  }
  h2 {
    font-size: medium;
  }
  #postEditBox {
    margin-top: -217px;
    margin-left: -160px;
  }
}
@media only screen and (max-width:320px ){
  h1 {
    margin-right: -58px;
  }
  h3 {
    font-size: small;
  }
  .box-login {
    margin-left: 0px;
    width: 95%;
  }
  .container {
    width: 115%;
  }
  #postEditBox {
    margin-left: -156px;
  }
  #profileContainer {
    margin-left: 4%;
  }
  #pageExplanation {
    margin-right: -17%;
  }
}
