body * {
  margin: 0;
  padding: 0;

}
h1 {
  text-align: center;
  font-size: 30px;
  /* border: 1px solid gray; */
  word-wrap: normal;
  /* margin-right: -10px; */
}

.container{
  /* border: solid black 1px; */
  position: relative;
}
#signUp {
  width: 50px;
}
#signUp:hover {
  background: white;
  border-radius: 5px;
}
#container-main {
  height: 556px;
}
#entryLogin input {
  text-align: center;
  margin: 5px 0;
}
#nav .hide{
  visibility: hidden;
}
#entrySubmit {
  transform: rotate(180deg);
  margin: 6px 0;
}
#entrySubmit:hover {
  transform: rotate(270deg);
  background-color: white;
  border-radius: 30px;
  /* 45deg or 270deg */
}
.box-login {
  margin: 60px;
  padding: 10px;
  text-align: center;
  display: block;
  /* background-color: turquoise; */
  background: -moz-linear-gradient(left, rgba(38,172,192,0) 0%, rgba(38,172,192,0.8) 15%, rgba(38,172,192,1) 19%, rgba(38,172,192,1) 20%, rgba(72,214,222,1) 50%, rgba(38,172,192,1) 80%, rgba(38,172,192,1) 81%, rgba(38,172,192,0.8) 85%, rgba(38,172,192,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(38,172,192,0) 0%,rgba(38,172,192,0.8) 15%,rgba(38,172,192,1) 19%,rgba(38,172,192,1) 20%,rgba(72,214,222,1) 50%,rgba(38,172,192,1) 80%,rgba(38,172,192,1) 81%,rgba(38,172,192,0.8) 85%,rgba(38,172,192,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(38,172,192,0) 0%,rgba(38,172,192,0.8) 15%,rgba(38,172,192,1) 19%,rgba(38,172,192,1) 20%,rgba(72,214,222,1) 50%,rgba(38,172,192,1) 80%,rgba(38,172,192,1) 81%,rgba(38,172,192,0.8) 85%,rgba(38,172,192,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0026acc0', endColorstr='#0026acc0',GradientType=1 ); /* IE6-9 */

  border-radius: 10px;
  /* background-image: linear-gradient(tomato, turquoise); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* border: solid blue; */
}
#reportButton {
  width: 47px;
  position: absolute;
  left: 32px;
  bottom: 27px;
}
#reportButton:hover {
  /* background-color: gold; */
  border: 2px solid skyblue;
  border-radius: 10px;
}
footer {
  position: absolute;
  bottom: 0;
}
#nav {
  margin: 0 100px;
  /* border: solid red; */
  height: 34px;
  text-align: center;
}
.navBox {
  display: inline-block;
  /* border: solid purple; */
  margin-right: -4px;
  padding: 5px 6px;
  /* background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS09BvaCJg-v4kNXoiDUU39He-7v3gZh3XxaceU1mo1VazG7PDR');
  background-size: 100% 100%;
  background-repeat: no-repeat; */
}
.navBox:hover {
  text-decoration: underline;
}
h3{
  text-align: center;
}
#postCreation{
  /* background-color: gold; */
  position: absolute;
  left: 20px;
  width: 50px;
  height: auto;
  /* border: solid 2px gray; */
  /* color: black; */
  text-align: center;
  text-decoration: none;
  margin-top: 5px;
  padding: 2px;
  border-radius: 5px;
}
#postCreation:hover{
  /* background-color: gold; */
  border: 2px solid skyblue;
  border-radius: 10px;
}
#editCreation{
  /* background-color: gold;
  border: solid 2px gray;
  color: black;
  text-align: center;
  text-decoration: none;
  margin-top: 5px;
  padding: 2px;
  border-radius: 5px; */
}
#postbox {
  width: 380px;
  height: 250px;
  background:  white;
  border: solid lightblue;
  position: absolute;
  left: 50%;
  margin-left: -206px;
  top: 50%;
  margin-top: -133px;
  z-index: 2;
  padding: 10px;
  display: none;
  border-radius: 10px;
}
#buttonSign {
  position: absolute;
  left: 10px;
  top: 100px;
}
#postEditBox{
  width: 380px;
  height: 250px;
  background:  white;
  border: solid lightblue;
  position: absolute;
  top: 138px;
  left: 33%;
  z-index: 2;
  padding: 10px;
  display: none;
}
#postDesign {
  padding: 10px;
}
.postInfo {
  margin: 0 0 5px 5px;
  padding: 5px;
}
.reportbox {
  width: 300px;
  height: 20px;
  margin: 5px 0;
  text-align: center;
}
.reporttext {
  width: 600px;
  height: 300px;
  /* text-align: center; */
  resize: none;
  margin: 5px 0;
}
#suggestionForm{
  text-align: center;
}
.suggestiontext {
  width: 500px;
  height: 200px;
  text-align: center;
  resize: none;
  margin: 5px 0;
}
#profileContainer {
  margin-top: 20px;
  margin-left: 40%;
  padding: 10px;
  display: inline-block;
}
.profiletext {
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
}
#secondaryContainer {
  /* display: grid;
  grid-template-columns: auto auto auto auto; */

  border: solid white 1px;
  margin-top: 5px;
  padding: 10px;
  margin: -15px 100px;
  height: 535px;
  overflow-y: scroll;
  overflow-x:hidden
  /* text-align: center; */
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: lightgrey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: skyblue;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#usersPosts {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}
.eachPost {
  list-style-type: none;
  border: solid skyblue 2px;
  margin: 5px 0;
  padding: 8px;
  background-color: white;
  border-radius: 10px;
}

ul.f {
  list-style-position: inside;
  border: 2px solid blue;
  margin-left: 20px;
}
ul li.s {
  padding-left: 25px;
}
#dropMenu {
  width: 60px;
  position: absolute;
  top: 172px;
  left: 13px;
  visibility: hidden;
}
@media only screen and (max-width:1326px ){
#container-main {
  height: 476px;
}
#secondaryContainer {
  height: 450px;
}
}
@media only screen and (max-width:960px ){
#container-main {
  height: 475px;
}
#secondaryContainer {
  height: 450px;
}
}
@media only screen and (max-width:792px ){
  #container-main {
    height: 486px;
  }
  #usersPosts {
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
  }
  #title {
    font-size: 25px;
  }
  #buttonSign{
    top: 108px;
  }
}
@media only screen and (max-width:600px ){
#title {
  font-size: 20px;
}
#container-main{
  margin: auto 5px;
  position: absolute;
  top: 5px;
  height: 523px;
  /* border: 1px solid black; */
}
#secondaryContainer{
  height: 474px;
}
#nav {
  visibility: hidden;
  /* border-color: transparent; */
  /* display: initial; */
}
#dropMenu {
  visibility: visible;
  display: inline-block;
  top: 55px;
  left: 22px;
  z-index: 1;
}
#dropMenu:hover {
  /* background: gold; */
border: 2px solid skyblue;
}
#menuDesignation {
  position: relative;
  display: inline-block;
}

#navRes {
  display: none;
  position: absolute;
  top: 115px;
  left: 30px;
  background-color: #f9f9f9;
  min-width: 45px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
/* #dropMenu{
  background-color: gold;
} */
/* #dropMenu:hover {
border: 2px solid gray;
} */

#menuDesignation:hover #navRes {
  display: block;
  border: 1px solid black;
}
.navBoxRes {
  list-style: none;
  border-bottom: 1px solid black;
  margin: 5px;
}
.navBoxRes:hover{
  background-color: turquoise;
  border-radius: 5px;

}
/* .navBox{
  position: absolute;
  left: 0px;
} */
}
/* #buttonSign {
  top: 68px;
} */
/*it makes no sense here how media queries works

/* #postbox {
  width: 50%;
  height: 60%;
  margin-left: -136px
} */
@media only screen and (max-width:320px ){
h1 {
  margin-right: -58px;
}
}
@media only screen and (max-width: ){

}
